<html lang="en">
  <head>
    <%- include('../partials/head', {pageTitle: "Home"}); %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../partials/header'); %>

    <!-- Contenido -->
    <div class="container mt-5">
      <h1>Esto es una prueba!</h1>
    </div>

    <!-- Scripts -->

    <!-- aqui podemos agregar mas scripts de manera condicional, por ejemplo
    agregamos como base, los scripts de bootstrap (estos se encuentran directamente establecidos), 
    pero si esta vista requiere por ejemplo una libreria de google maps la podemos incluir desde aca. -->

    <!--- *** EJEMPLO ***

    <%- include('../partials/scripts', {scripts: [
    '<script type="text/javascript">setInterval(()=>{alert("test")}, 1500)</script>'
    ]}); %>
    -->
    <%- include('../partials/scripts', {scripts: []}); %>
  </body>
</html>
