<!-- ... Otras partes de tu HTML ... -->

<h2>Crear Playlist</h2>
<form action="/playlists/create" method="post">
  <label for="name">Nombre:</label>
  <input type="text" id="name" name="name" required>
  <br>
  <button type="submit">Crear Playlist</button>
</form>

<!-- ... Otras partes de tu HTML ... -->


