<html lang="en">
  <head>
    <%- include('../partials/head', {pageTitle: "Home"}); %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../partials/header'); %>

    <!-- Contenido -->
    <div class="container mt-5">
      <h2>Crear Playlist</h2>
      <form action="/playlists/create" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required class="form-control mb-3">
        <button type="submit" class="btn btn-primary">Crear Playlist</button>
      </form>
    </div>

    <!-- Scripts -->
    <%- include('../partials/scripts', {scripts: []}); %>
  </body>
</html>
